<div class="uk-card uk-card-default">
  <form action="/api/productos" method="POST" name="products">
    <fieldset class="uk-fieldset uk-padding-small">
      <label for="title">
        <span>Title</span>
        <input class="uk-input" type="text" placeholder="Title" name="title" required>
      </label>
      <label for="price">
        <span>Price</span>
        <input class="uk-input" type="number" placeholder="Price" name="price" required>
      </label>
      <label for="thumbnail">
        <span>Tumbnail</span>
        <input class="uk-input" type="text" placeholder="Thumbnail" name="thumbnail" required>
      </label>
      <button class="uk-margin uk-button-altern" type="submit">Guardar</button>
    </fieldset>
  </form>
</div>
