<!DOCTYPE html>
<html lang="en">
  <%- include('./layout/head.ejs') -%>
  <body>
    <div
      uk-sticky="end: #transparent-sticky-navbar; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"
    >
      <nav class="uk-navbar-container" style="position: relative; z-index: 980">
        <div class="uk-navbar">
          <div class="uk-navbar-left">
            <a class="uk-navbar-item uk-logo" href="/">e-magik | shop</a>
          </div>
          <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
              <li class="uk-active">
                <a href="/">Inicio</a>
              </li>
              <li>
                <a href="/productos">Productos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="main">
      <div class="uk-container uk-align-center">
        <h2 class="uk-margin-top">
          <%= title %>
          <a class="uk-button-altern uk-button-warning" href="/productos"
            >ver productos</a
          >
        </h2>
        <%- include('./layout/form.ejs') -%>
       
        
      </div>
    </div>
  </body>
</html>
